<!--푸터 부분-->
<div id="footer" class="container-fluid">
    <div class="container footer">
        <div class="row">
            <div class="footer_logo col-sm-4">
                <a href="/">
                    <img id="footer_img" src="/img/logo.png" alt="WITH댕댕냥냥">
                </a>
            </div>
            <div class="footer_link col-sm-4">
                <div class="text-center center-block">
                    <a href="https://www.facebook.com/bootsnipp">
                        <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                    </a>
                    <a href="https://twitter.com/bootsnipp">
                        <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                    </a>
                    <a href="https://plus.google.com/+Bootsnipp-page">
                        <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
                    </a>
                    <a href="mailto:cshinks@naver.com">
                        <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
                    </a>
                </div>
            </div>
            <div class="copy_right col-sm-4">
                All contents copyright&#169; 신광식 & 이하정
            </div>
        </div>
    </div>
</div>
<!--/푸터 부분-->